@import './styles/variables';
@import './styles/custom.scss';
@import './styles/navbar.scss';
@import './styles/thumbnail.scss';
@import './styles/projects.scss';
@import './styles/about.scss';
@import './styles/contact.scss';
@import './styles/footer.scss';
@import './styles/media_query.scss';
@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap';

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: $gray-lighter;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
}

header {
    position: relative;
}

.progress-bar {
    position: fixed;
    top: 0;
    height: 5px;
    background: $blue;
    transition: width .25s;
    z-index: 9999;
}

::-webkit-scrollbar {
    display: none;
}