.formations {
    margin-top: 0px;
    height: 100%;
    margin-bottom: 30px;
    position: relative;
    .svg-splash-2 {
        position: absolute;
        right: 0;
        display: none;
    }
    .container {
        gap: 12px;
        display: flex;
        flex-direction: column;
        .contentFormations {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            div {
                display: flex;
                gap: 32px;
                flex-direction: column;
                align-items: center;
                h1 {
                    color: $black;
                    font-family: 'Playfair Display', serif;
                    font-size: 35px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                }
                span {
                    width: 30%;
                    height: 4px;
                    margin: 0 auto;
                    border-radius: 2px;
                    background: #64A2FF;
                    display: block;
                }
            }
            .paragraph-formations {
                padding: 0;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                color: $gray;
                text-align: center;
            }
            .svg-splash {
                position: absolute;
                top: 180px;
                left: -275px;
                display: none;
            }
            .fade-in {
                opacity: 0;
                transform: scale(0.8);
                transition: 0.3s all ease-out;
            }
            .formations-content {
                display: flex;
                flex-direction: column;
                gap: 100px;
                a {
                    text-decoration: none;
                    color: inherit;
                    border-radius: 50px;
                    padding: 35px 1px;
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        box-shadow: 0px 5px 11px 7px rgba(0, 0, 0, 0.05);
                    }
                    .epitech {
                        gap: 25px;
                        flex: 1 0 0;
                        flex-direction: column;
                        div {
                            h2 {
                                text-align: center;
                                font-family: Playfair Display;
                                font-size: 30px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 120%;
                            } 
                            span {
                                display: flex;
                                width: 109px;
                                height: 28px;
                                padding: 4.5px 13px 4.5px 13px;
                                justify-content: center;
                                align-items: center;
                                border-radius: 5px;
                                background: #BDFFC0;
                                color: #315233;
                                text-align: center;
                                font-size: 15px;
                            } 
                            .date {
                                color: $blue;
                                background: none;
                                font-size: 20px;
                            }
                        }
                        p {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 36px;
                            color: $gray;
                            text-align: center;
                        }
                        .content-svg-epitech {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            flex-wrap: wrap;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }  
                }
                a {
                    text-decoration: none;
                    color: inherit;
                    border-radius: 50px;
                    padding: 35px 1px;
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        box-shadow: 0px 5px 11px 7px rgba(0, 0, 0, 0.05);
                    }
                    .cloudCampus {
                        gap: 25px;
                        flex: 1 0 0;
                        flex-direction: column;
                        div {
                            h2 {
                                text-align: center;
                                font-family: Playfair Display;
                                font-size: 30px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 120%;
                            } 
                            span {
                                display: flex;
                                width: 109px;
                                height: 28px;
                                padding: 4.5px 13px 4.5px 13px;
                                justify-content: center;
                                align-items: center;
                                border-radius: 5px;
                                background: #BDD3FF;
                                color: #313552;
                                text-align: center;
                                font-size: 15px;
                            } 
                            .date {
                                color: $blue;
                                background: none;
                                font-size: 20px;
                            }
                        }
                        p {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 36px;
                            color: $gray;
                            text-align: center;
                        }
                        .content-svg-cloudcampus {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            flex-wrap: wrap;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }   
        }
    }
}