.biography {
    margin-top: 55px;
    .container {
        gap: 12px;
        display: flex;
        flex-direction: column;
        .contentHeading {
            display: flex;
            width: 486px;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            div {
                display: flex;
                gap: 32px;
                flex-direction: column;
                align-items: center;
                h1 {
                    color: $black;
                    font-family: 'Playfair Display', serif;
                    font-size: 55px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                }
                span {
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background: $blue;
                    display: block;
                }
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                color: $gray;
            }
        }
        .contentProfessionnalExp {
            margin-top: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            div {
                display: flex;
                gap: 32px;
                flex-direction: column;
                align-items: center;
                h1 {
                    color: $black;
                    font-family: 'Playfair Display', serif;
                    font-size: 50px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                }
                span {
                    width: 30%;
                    height: 4px;
                    margin: 0 auto;
                    border-radius: 2px;
                    background: #64A2FF;
                    display: block;
                }
            }
            .influcom {
                margin-top: 65px;
                display: flex;
                align-items: center;
                gap: 70px;
                flex: 1 0 0;
                div {
                    h2 {
                        text-align: center;
                        font-family: Playfair Display;
                        font-size: 45px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                    } 
                }
                p {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                    color: $gray;
                    text-align: center;
                }
            }
            .cgconsulting {
                margin-top: 65px;
                display: flex;
                align-items: center;
                gap: 70px;
                flex: 1 0 0;
                div {
                    h2 {
                        text-align: center;
                        font-family: Playfair Display;
                        font-size: 45px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                    } 
                }
                
                p {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                    color: $gray;
                    text-align: center;
                }
            }
        }
        .loisirs {
            margin-top: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            background-color: $blue;
            div {
                display: flex;
                gap: 32px;
                flex-direction: column;
                align-items: center;
                h1 {
                    color: $white;
                    font-family: 'Playfair Display', serif;
                    font-size: 50px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                }
                span {
                    width: 30%;
                    height: 4px;
                    margin: 0 auto;
                    border-radius: 2px;
                    background: $white;
                    display: block;
                }
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                color: $white;
                text-align: center;
            }
        }
        .contentFormations {
            margin-top: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            div {
                display: flex;
                gap: 32px;
                flex-direction: column;
                align-items: center;
                h1 {
                    color: $black;
                    font-family: 'Playfair Display', serif;
                    font-size: 50px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; 
                }
                span {
                    width: 30%;
                    height: 4px;
                    margin: 0 auto;
                    border-radius: 2px;
                    background: #64A2FF;
                    display: block;
                }
            }
            p {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                color: $gray;
                text-align: center;
            }
            .formations {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                .epitech {
                    margin-top: 65px;
                    gap: 70px;
                    flex: 1 0 0;
                    flex-direction: column;
                    div {
                        h2 {
                            text-align: center;
                            font-family: Playfair Display;
                            font-size: 45px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%;
                        } 
                        span {
                            display: flex;
                            width: 109px;
                            height: 28px;
                            padding: 4.5px 13px 4.5px 13px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            background: #BDFFC0;
                            color: #315233;
                            text-align: center;
                            font-size: 15px;
                        } 
                    }
                    
                    p {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 36px;
                        color: $gray;
                        text-align: center;
                    }
                }
                .cloudCampus {
                    margin-top: 65px;
                    gap: 70px;
                    flex: 1 0 0;
                    flex-direction: column;
                    div {
                        h2 {
                            text-align: center;
                            font-family: Playfair Display;
                            font-size: 45px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%;
                        } 
                        span {
                            display: flex;
                            width: 109px;
                            height: 28px;
                            padding: 4.5px 13px 4.5px 13px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            background: #BDD3FF;
                            color: #313552;
                            text-align: center;
                            font-size: 15px;
                        } 
                    }
                    p {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 36px;
                        color: $gray;
                        text-align: center;
                    }
                }
            }
        }
    }
}