@media screen and (min-width: 350px) {
    .thumbnail {
        .container {
           width: 280px;
        }
    }
    #contacts {
        .container {
            .form-container {
                min-width: 100%;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    #contacts {
        .container {
            .form-container {
                .wrapper-field {
                    div {
                        input {
                            padding-right: 15%;
                            padding-left: 10px;
                            width: 100%;
                        }
                        .char-counter {
                            display: flex;
                        }
                    }
                    div{
                        textarea {
                            padding-right: 15%;
                            padding-left: 10px;
                            width: 100%;
                        }
                        .char-counter2 {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    #projects {
        #carousel-wrapper {  
            #menu {
                width: 450px;
                height: 500px;
                flex-direction: column;
                #current-option {
                    transform: translate(-10%, 0%);     
                    align-items: center;
                    padding-left: 0px;
                    #current-option-text1 {
                        font-size: 1.6rem;
                        width: 220px;
                        height: auto;
                    }
                    #current-option-text2 {
                        font-size: 15px;
                        width: 220px;
                        height: 180px;
                    }
                    #current-option-text3 {
                        font-size: 0.8rem;
                        width: 220px;
                        height: auto;
                    }
                }
                #previous-option {
                    transform: translate(150px, 0px);
                }
                #next-option {
                    transform: translate(150px, -100px) rotate(180deg);
                }
            }
            #image {
                transform: translate(0, 0);
                width: 450px;
                height: 200px;
                position: inherit;
            }
        }
    }
    .projects-footer {
        position: inherit;
    }
}

@media screen and (min-width: 600px) {
    .thumbnail {
        .container {
            width: 486px;
            h3 {
                font-size: 20px;
            }
            div {
                h1 {
                    font-size: 64px; 
                }
                p {
                    font-size: 24px;
                }
            }
        }
    }
    .about {
        margin-top: 280px;
        .container {
            div {
                .container-images {
                    width: 450px;
                    height: 450px;
                    .image-wrapper {
                        img {
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
    #contacts {
        margin-top: 280px;
        .container {
            .title {
                h2 {
                    font-size: 48px;
                }
                span {
                    width: 100px;
                }
            }
            .form-container {
                width: 500px;
                min-width: 300px;
            }
        }
    }
    .projects {
        margin-top: 280px;
        .container {
            .title {
                h2 {
                    font-size: 48px;
                }
                span {
                    width: 100px;
                }
            }
        }
    }
    #biography {
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 45px;
        }
    }
}

@media screen and (min-width: 700px) {
    .svg-container {
        top: 0;
        right: 0;
    }
    .background-svg {
        width: 453px;
        height: 396px;
    } 
}

@media screen and (min-width: 750px) {
    #projects {
        #carousel-wrapper {  
            #menu {
            width: 720px;
            flex-direction: row;
            height: 380px;
                #current-option {
                    transform: translate(-25%, 0%);      
                    align-items: center;   
                    padding-left: 0px;
                    #current-option-text1 {
                        font-size: 1.6rem;
                        width: 220px;
                        height: auto;
                    }
                    #current-option-text2 {
                        font-size: 15px;
                        width: 220px;
                        height: 180px;
                    }
                    #current-option-text3 {
                        font-size: 0.8rem;
                        width: 220px;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-end;
                    }
                }
                #previous-option {
                    transform: translate(310px, 50px);
                }
                #next-option {
                    transform: translate(310px, -50px) rotate(180deg);
                }
            }
            #image {
              transform: translate(140px, 0);
              width: 240px;
              height: 240px;
              position: absolute;
            }
            
            &.anim-next {
                pointer-events: none;

                #previous-option {
                animation: next-top-arrow 0.65s 0.085s;
                }

                #next-option {
                animation: next-bottom-arrow 0.65s 0.085s;
                }
                
                #image {
                animation: next-image 0.65s 0.085s;
                }
            }

            &.anim-previous {
                pointer-events: none;

                #previous-option {
                animation: previous-top-arrow 0.65s 0.085s;
                }

                #next-option {
                animation: previous-bottom-arrow 0.65s 0.085s;
                }
                
                #image {
                animation: previous-image 0.65s 0.085s;
                }
            }
        } 
    }
    .projects-footer {
        position: absolute;
    }
}

@media screen and (min-width: 992px) {
    nav {
        padding: 12px 120px;
        ul {
            flex-direction: inherit;
            gap: 3%;
        }
    }
    .background-svg {
        width: 453px;
        height: 396px;
    }
    .thumbnail {
        .container {
            h3 {
                font-size: 20px;
            }
            div {
                h1 {
                    font-size: 64px; 
                }
                p {
                    font-size: 24px;
                }
            }
        }
    }
    .projects {
        .container {
            .timeline {
                .project-container {
                    justify-content: center;
                    .line {
                        left: 50%;
                    }
                    .project-row {
                        .timeline-item {
                            .circle {
                                .project-details {
                                    align-items: center;
                                    flex-direction: unset;
                                    justify-content: unset;
                                    position: inherit;
                                    left: auto;
                                    box-shadow: none;
                                    padding: 0;
                                    border-radius: none;
                                    gap: 0;
                                    .project-item {
                                        position: absolute;
                                        left: 55%;
                                        background: #FFF;
                                        box-shadow: 7px 7px 20px 0px rgba(100, 162, 255, 0.15);
                                        padding: 3%;
                                        border-radius: 20px;
                                        div {
                                            h2 {
                                                font-size: 35px;
                                            }
                                            p {
                                                font-size: 20px;
                                            }
                                            button {
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                    .project-date {
                                        position: absolute;
                                        right: 55%;
                                        justify-content: center;
                                    }
                                }
                            }
                            .project-2 {
                                .project-details {
                                    .project-item {
                                        left: auto;
                                        right: 55%;
                                    }
                                    .project-date {
                                        right: auto;
                                        left: 55%;
                                    }
                                }  
                            }
                        }
                    }
                }
                .seeMore {
                    margin: auto;
                    padding-left: 2px;
                    .see-more {
                        display: block;
                    }
                    svg {
                        width: 100%;
                    }
                }
            }
        }
    }
    .formations {
        .svg-splash-2 {
            display: block;
        }
        .container {
            .contentFormations{
                .svg-splash {
                    display: block;
                }
            }
        }
    }
    #biography {
        .hobbies {
            margin-top: 300px;
            .content .loisirs {
                padding: 200px 100px;
            }
        }
        .formations {
            margin-top: 55px;
            .container .contentFormations {
                padding-left: 5%;
                padding-right: 5%;
                .paragraph-formations {
                    padding: 0 18%;
                }
                .formations-content a {
                    padding: 35px 13px;
                }
            } 
        } 
        .professionals .container .contentProfessionnalExp .professional-container .professional-details {
            padding: 150px 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about {
        .container {
            flex-direction: row;
            div {
                width: 50%;
            }
            .container-text {
                width: 50%;
                h2{
                    font-size: 48px;
                }
            }
        }
    }
    .projects {
        .container {
            .title {
                h2 {
                    font-size: 48px;
                }
                span {
                    width: 100px;
                }
            }
            .timeline {
                .project-container {
                    .project-row {
                        .timeline-item {
                            .circle {
                                .project-details {
                                    .project-item {
                                        div {
                                            width: 375.843px;
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .formations {
        .container {
            .contentFormations  {
                .formations-content {
                    flex-direction: row;
                    align-items: flex-start;
                }
            }
        }
    }
}

@media screen and (min-width: 1350px) {
    .background-svg {
        width: 720px;
        height: 629px;
    }
}